*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
 i, a, li,h2, p{
     color: rgb(6, 19, 204);
     font-weight: 500px;
     text-decoration: none;
 }
 html{
     scroll-behavior: smooth;
 }

.head__container{
    background-image: url(https://images.pexels.com/photos/2422290/pexels-photo-2422290.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    animation-name: back;
    animation-duration: 10s;
    transition: all .3s;
    animation-timing-function: linear;
}

/* animation backgoround header */

@keyframes back {
    0%{
        background-image: url(https://images.pexels.com/photos/2422290/pexels-photo-2422290.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    }

    40%{
        background-image: url(https://images.pexels.com/photos/2422293/pexels-photo-2422293.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    }

    80%{
        background-image: url(https://images.pexels.com/photos/2422288/pexels-photo-2422288.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    }

    100%{
        background-image: url(https://images.pexels.com/photos/2422290/pexels-photo-2422290.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    }
}


.nav__container{
    align-self: flex-start;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
   gap: 20px;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
   align-self: center;
   position: fixed;
   top: 0px;
   z-index: 2;
}
.icon__toogle{
    position: absolute;
    right: 30px;
}
.icon__toogle i{
    font-size: 2.1rem;
    cursor: pointer;
   
}

@media screen and (min-width:714px) {
    .icon__toogle{display: none;}
}


.menu__low{
    height: 300px;
width: 100%;
background-color: rgba(145, 7, 7, 0);
border-radius: 0 0 10px 10px;
position: fixed;
z-index: 2;
overflow: hidden;
top: -880px;
transition: .4s;
}

.show{
    top: 70px;
    }

.ul__up li a{
    color: white;
}
.ul__up{
   
    background-color: rgb(25, 0, 255);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    position: absolute;
    top: 0;
    transition: all .5s;
}

.menu__low ul li {
    font-size: 1.7rem;
    text-transform: uppercase;
    width: 100%;
  transition: all .3s;
}
.menu__low ul li:hover{
    text-decoration: underline;
}
@media screen and (min-width:714px) {
    .menu__low{display: none;}
}



.contact__us{
text-align: center;
}
.contact__us h2, p{
   color: white;
   text-shadow: 1px 2px 5px black;
    }

.low__card{
    position: absolute;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 60px;
    text-align: center;
}



.logo{
    height: 100%;
    width: 15%;
    text-align: center;
    line-height:60px;
    font-size: 1.3rem;
    color: blue;
}

.logo h1{
    font-size: 2.6rem;
}
.header__nav__container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 20px;

}

.header__nav__container ul{
display: flex;
gap: 5%;
list-style: none;
align-items: center;
justify-content: center;
}
.header__nav__container ul li a{
text-decoration: none;
font-size: 1.9rem;
transition: all .1s;
}
.header__nav__container ul li a:hover{
   text-decoration: underline;
}


.social{
width: 20%;
height: 100%;
display: flex;
flex-direction: column;


}
.icon{
    width: 100%;
    height: 50%;
    text-align: center;
}
.icon  a i{
color: rgb(17, 0, 255);
font-size: 1.5rem;
}
.banner{
    text-align: center;
}
.banner h2{
    font-size: 1.1rem;
} 


/* HEADER MEDIA QUERIES */

@media screen and (max-width:715px){
 .header__nav__container{
     display: none;
 }
 .social{
display: none;
 }
 .logo{
     margin-left: 16%;
     color: blue;
     font-size: 1.8rem;
 }
}

/* =======card__container===== */

.card__container{
    padding-top: 200px;
    width: 100VW;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card__1{
    padding: 20px;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 1px 4px 10px black;
    transition: all .3s;
}
.card__2{
    padding: 20px;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 81, 87, 0.664);
    box-shadow: 1px 4px 10px black;
    transition: all .3s;
}
.card__3{
    padding: 20px;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(4, 32, 32);
    box-shadow: 1px 4px 10px black;
    transition: all .3s;
}
.text__head{
    width: 100%;
    height: 30%;
    text-align: center;

}

.text__contact{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.location{
    display: flex;
    gap: 10px;
}
.location i{
  font-size: 1.6rem;
}
.location h2{
    font-size: 1.6rem;
}


.number{
    display: flex;
    gap: 10px;
}
.number i{
  font-size: 1.6rem;
}
.number h2{
    font-size: 1.6rem;
}

.email{
    display: flex;
    gap: 10px;
}
.email i{
  font-size: 1.6rem;
}
.email h2{
    font-size: .9rem;
}

@media screen and (max-width:805px) {
    .card__1, .card__2, .card__3{
        width: 90%;
        height: 300px;
       
       
    }
    .card__container{
        height: 130vh;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 900px;
        gap: 100px;
        justify-content: flex-start;
    }
}



/* =======cards hover====== */

.card__1:hover{
   background-color: rgba(0, 0, 158, 0.452);
}
.card__2:hover{
    background-color: rgba(0, 0, 158, 0.452);
 }
 .card__3:hover{
   
    background-color: rgba(0, 0, 158, 0.452);
 }




 /* ========about==== */

.about__container{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction:column;
  padding-top: 190px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: 20px;
    gap: 50px;
}
.about__text{
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 4px 10px black;
    padding:   20px;
    align-self: center;
    max-height: 500px;
    max-width: 800px;
}

.about__text h2{
    font-size: 1.9rem;
    margin: 10px;
}

.about__text p{
    text-align: left;
    color: rgb(0, 4, 255);
    text-shadow: none;
}


.about__img{
    width:80%;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about__img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.about__learn__more{
    width: 150px;
    height: 50px;
    background-color: rgb(47, 0, 255);
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
}

.about__learn__more:hover{
    background-color: rgb(32, 0, 160);
    color: whitesmoke;
}


/* =========about__media queiries====== */







/* =========services===== */

.section__services{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px;
    margin-bottom: 200px;
}

.services__text h2{
    font-size: 2.7rem;
color: rgb(0, 4, 255);
text-transform: uppercase;

}



.card__services{
    display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: 100%;
 align-items: center;
 justify-content: center;
 padding:20px;
 gap: 20px;
    
}

.card{
    width: 100%;
    flex: 1 1 300px;
    max-width: 400px;
}

.card .card-title{
    color: blue;
    font-size: 1.6rem;
   
}
.card .card-text{
    color: blue;
    text-shadow: none;
}






/* ====media quiries==== */


@media screen and (max-width:538px) {
    .section__services{
        height: 120vh;
      padding-top: 400px;
      padding-bottom: 400px;
    }
}



/* =======section__container===== */

.pages__container{
    margin-top: 400px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-top: 180px;
    gap: 100px;
    

}
.pages__text h2{
    text-transform: uppercase;
    font-size: 2.7rem;
    color: rgb(0, 4, 255);
}


.carousel__container{
    width: 70%;
    max-width: 500px;
} 

.explore{
    width: 50%;
    height: 60px;
    max-width: 300px;
    line-height: 60px;
    background-color: rgb(28, 31, 219);
    color: rgb(238, 240, 255);
    text-decoration: none;
    font-size: 1.6rem;
    align-self: flex-start;
    margin-left: 140px;
    text-transform: uppercase;
    text-align: center;

} 


/* =====media quiries pages====== */

@media screen and (max-width:664px){
   .pages__container{
    margin-top: 900px;
   }
}
@media screen and (min-width:948px){
    .section__services{
        margin-bottom: 20pz;
    }
    .pages__container{
     margin-top: 20px;
    }
 }


 .form__contact{
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 100px;
     
 }
 fieldset{
     width: 90%;
     max-width: 600px;
     height: 480px;
     display: flex;
     align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    background-color: rgb(7, 40, 187);
    box-shadow: 2px 3px 6px black;
    border-radius: 10px;
    color: white;
   
 }
  legend{
      text-align: center;
      font-size: 4.1rem;
  }
 
  label{
      text-transform: uppercase;
      align-self: flex-start;
      margin-left: 30px;
  }
  input{
      width: 90%;
      padding: 10px;
  }
  textarea{
      padding-left: 20px;
     width: 90%;
  }
  input[type="submit"]{
      background-color: rgb(58, 58, 228);
      border: none;
      color: white;
      text-transform: uppercase;
  }


  /* ========footer===== */


  footer{
      width: 100vw;
      height: 110px;
      background-color: blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding:20px;
  }
  .social__icons{
      align-self: flex-end;
      padding:10px;
  }
 

  footer .social__icons a{
      text-decoration: none;
  }


  footer .social__icons a i{
      color: white;
      font-size: 1.7rem;
  }

  .copy h3{
      font-size: 1.2rem;
  }